<table>
    <tbody>
        <tr>
            <td><b>Interpret:</b></td>
            <td><%= @record.interpret %></td>
        </tr>
        <tr>
            <td><b>Album:</b></td>
            <td><%= @record.album %></td>
        </tr>
        <tr>
            <td><b>Single:</b></td>
            <td><%= @record.single %></td>
        </tr>
        <tr>
            <td><b>Cover:</b></td>
            <td><%= image_tag(@record.image_url) %></td>
        </tr>
    </tbody>
</table>

